.auth {
  padding: 15px 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Quicksand', sans-serif;
}

.auth__title {
  margin-bottom: 2rem;

  position: relative;

  font-size: 3rem;
  font-weight: 500;

  color: #555;
  text-align: center;
}

.auth__wrapper {
  width: 450px;
}

//.auth__logo {
//  margin: 0 auto 4rem auto;
//  display: block;
//}

.auth__label {
  font-family: 'Quicksand', sans-serif;
  color: #555;
}

.auth__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth__btn {
  background-color: #333;
  color: #fff;
  font-family: inherit;

  transition: background-color .2s linear, color .2s linear;

  &:hover {
    border-color: transparent;

    background-color: #ace0f1;
    color: #333;
  }

  &:focus {
    border-color: transparent !important;

    box-shadow: unset !important;
    background-color: rgba(#ace0f1, .5) !important;
    color: #333 !important;
  }
}

