.form {
  padding: 2rem 5rem;
}

.form__item {
  margin-bottom: 2rem;
}

.form__textarea-field {
  min-height: 15rem;
  resize: none;
}

.form__label {
  margin: 0;
  padding-bottom: .62em;

  font-family: 'Comfortaa', sans-serif;
  font-size: 1.3rem;
  color: #555;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
