.sidebar {
  padding: 0 1.5rem;
  width: 25%;

  display: flex;
  flex-direction: column;
  height: 100vh;

  position: sticky;
  left: 0;
  overflow: auto;

  font-family: 'Comfortaa', sans-serif;
  background-color: #f7f8fc;

  @media (max-width: 768px) {
    display: none;
    width: 0;
  }
}

.sidebar__header {
  padding: 3rem 0;

  font-size: 3rem;
  font-weight: 500;

  text-align: center;
}

.sidebar__title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3rem;
}

.sidebar__header,
.sidebar__footer {
  height: 10%;
}

.sidebar__content {
  margin: 3rem 0;
  height: 75%;
}

.sidebar__content-btn {
  display: block;

  font-size: 1.6rem;
}

.sidebar__content-title {
  margin-bottom: 1rem;

  text-align: center;
  font-size: 2rem;

  span {
    margin-left: .1rem;
    display: inline-block;

    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;

    background-color: rgba(172,224,241,.5);
    border-radius: .4rem;
  }
}

.sidebar__content-item {
  width: 100%;
  overflow: hidden;

  &--projects {
    height: 55%;
  }

  &--users {
    height: 40%;
  }

  & + & {
    margin-top: 3rem;
  }
}

.sidebar__list {
  max-height: 80%;

  &--project {
    max-height: 65%;
  }

  &-item {
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    & + & {
      margin-top: .4rem;
    }

    a {
      padding: .2rem .4rem;

      transition: background-color .2s linear, border-radius .2s linear;

      &:hover {
        background-color: rgba(172,224,241,.54);
        border-radius: .4rem;
      }
    }
  }
}

.sidebar__list-item--users {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: .5rem;
  }
}

.sidebar__list-item-user {
  padding-left: 1rem;

  display: inline-block;

  font-size: 1.8rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar__list-item-msg {
  display: flex;

  width: 30px;
  height: 25px;

  background: url("../img/msg.svg") no-repeat center;
  background-size: 30px 25px;

  &:hover {
    background-color: unset!important;
  }
}

.sidebar__footer {
  margin-top: auto;
  padding: 1.6rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.8rem;
}

.sidebar__footer-avatar {
  padding-right: 1.6rem;
}

.sidebar__footer-title {
  overflow: hidden;

  font-family: 'Comfortaa', sans-serif;
  font-size: 1.6rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.sidebar__footer-menu {
  padding-left: 1.6rem;

  display: flex;
  align-items: center;

  button {
    width: 23px;
    height: 23px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;

    &:last-child {
      margin-left: 1.3rem;
    }
  }

  &--home {
    background-image: url('../img/home.svg');
  }

  &--exit {
    background-image: url('../img/exit.svg');
  }
}
